.btn{
    margin-right: 10px
}
.info {
    margin-bottom: 4px;
    padding: 12px 12px;
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    border: 1px solid #0C80DA;
    border-radius: 4px;
}
#result {
    height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
}