.btn{
    margin-right: 10px
}

#result {
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.alert {
    padding: 10px;
    margin-bottom: 5px;
}

.err {
    width: auto;
    height: auto;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
  }